
<h1 id="title">
  <%= @post.title %>
</h1>

<div id="body">
  <%= @post.body %>
</div>

<p id="category"><%= @post.category %></p>

<%= link_to '編集する', edit_post_path %>
<%= link_to '削除する', post_path, method: :delete  %>
