<div class="col-md-8 col-md-offset-2">
<h2 id="title"><%= @post.title %></h2>

<p id="category">カテゴリ ：<%= find_category_title(@post.category_id) %></p>

<div id="body">
  <%= simple_format(@post.body) %>
</div>

<div class="text-center">
<%= link_to '編集する', edit_post_path, :class => 'btn btn-default' %>
<%= link_to '削除する', post_path, method: :delete, :class => 'btn btn-danger' %>
</div>

</div>
